@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
</style>


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



/* navbar design start from here */


.nav-container{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.212); 
}

.nav-main{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    max-width: 1150px;
    margin: 0 auto;

}

.nav-left{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Work Sans;
    margin-left: 10px;
}

.nav-right{
    margin-right: 10px;
    display: flex;

}

.nav-btn{
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    /* margin-right: 10px; */

} 


.nav-btn-follow{
    border-radius: 7px;
    background: rgba(11, 2, 35, 0.1);
    padding: 7px 15px;
    margin-right: 0;
}

/* header options start */

.header-container{
    background-image: url(../resources/group\ 14.png);
    background-repeat: no-repeat;
    background-position: -80%;
}

.header-main{
    /* border: 1px solid red; */
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.header-left{
    /* border: 2px solid yellow; */
    width: 50%;
    font-family: Work Sans;
}

.goat{
    font-size: 3.7rem;
    font-weight: 800;
    background-image: linear-gradient(#f948b2, #8758f1);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.301);
}
.goat-overlay{
    position: absolute; 
    top: 11%;
    text-shadow: none;
}
.header-btn1, .header-btn2{
    padding: 15px 20px;
    border-radius: 48px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
    color: white;
}
.header-btn1{
    background-color: #ff42a5;
}
.header-btn2{
    background-color: #4ec5f7;
    
}
.icon{
    color: #ff42a5;
}

.header-right{
    /* border: 1px solid green; */
    width: 50%;
}

.header-right img{
    width: 100%;
}

/* we are gamer  */

.gamer-container{
    background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
}

.gamer-main{
    /* border: 1px solid red; */
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    text-align: right;
}

.gamer-left{
    /* border: 2px solid yellow; */
    width: 60%;
}

.gamer-left img{
    width: 100%;
}

.gamer-right{
    /* border: 1px solid green; */
    width: 40%;
    font-family: Work Sans;
}

.game{
    font-size: 3.12rem;
    font-weight: 800;
    background-image: linear-gradient(#f948b2, #8758f1);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.301);
}
.game-overlay{
    position: absolute; 
    top: -9.9%;
    margin-left: 121px;
    text-shadow: none;
}

.purpose{
    font-size: 18px;
}

.Unleash{
    font-size: 25px;
}

/* online game  */

.online-heading{
    max-width: 1150px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.online-title{
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
}

.funny{
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    font-weight: 800;
    background-image: linear-gradient(#f948b2, #895def);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.301);
}

.online-des{
    margin-top: -10px;
    font-size: 1.2rem;
}
.online-title{
    
}

.online-main{
    max-width: 1150px;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-areas: "a b c d";
    gap: 15px;
    text-align: left;
    font-family: Work Sans;
}

.online-card{
    position: relative;
}
.online-card img{
    width: 100%;
    height: 80%;
    
}

.card-1{
    grid-area: a;
}
.card-2{
    grid-area: b;
}
.card-3{
    grid-area: c;
}
.card-4{
    grid-area: d;

}

.watch-now{
    /* border: 1px solid red; */
    position: absolute;
    top: 35%;
    left: 37%;
    text-align: center;
    display: none;
    

}

.watch-now span{
    font-size: 25px;
    font-weight: 900;
    color: white;
}

.watch-now p{
    color: red;
    font-size: 18px;
    font-weight: 500;
}

.online-card img:hover+.watch-now{
    display: block;
    
}
.online-card img:hover{
    filter: brightness(50%); 
}

.play-main{
    display: flex;
    max-width: 1150px;
    margin: 0 auto 100px;
    justify-content: space-around;
    align-items: center;
}

.play-left{
    width: 40%;
}

.play-right{
    width: 40%;
    position: relative;
}

.play-right img{
    width: 100%;
}

.play-right .cat{
    position: absolute;
    width: 180px;
    height: 180px;
    bottom: -7%;
    left: -25%;
}
.play-online-main{
    display: flex;
    max-width: 1150px;
    margin: 0 auto 100px;
    justify-content: space-around;
    align-items: center;
}

.play-online-left{
    width: 40%;
    position: relative;
}

.play-online-right{
    width: 40%;
    
}

.play-online-left img{
    width: 100%;
}

.play-online-left .cat{
    position: absolute;
    width: 180px;
    height: 180px;
    bottom: -7%;
    right: -20%;
}


.career-container{
    background-image: url(../resources/group\ 14.png);
    background-repeat: no-repeat;
    background-position: -40%;
    background-color: #f462ad;
    
    
}

.career-main{
    /* border: 1px solid red; */
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
}
.career-list{
    display: flex;
    justify-content: space-between;
}

.career-left{
    /* border: 2px solid yellow; */
    width: 45%;
    font-family: Work Sans;
    color: white;
    margin: 0 auto;
    /* margin-left: 50px; */
    font-size: 1rem;
}


.career-btn1 {
    padding: 15px 20px;
    border-radius: 48px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
    color: #ff42a5;
    background-color: rgb(255, 255, 255);
    margin-bottom: 100px;
}

.career-right{
    /* border: 1px solid green; */
    width: 50%;
}

.career-right img{
    width: 100%;
}

/* catagory section  */

.catagory-main{
    /* border: 2px solid green; */
    margin: 100px auto;
    margin-top: 20px;
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.catagory-child{
    /* border: 2px solid red; */
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    /* flex-grow: 1; */
    min-width: 180px;
    padding: 2px 2px;

}

.catagory-child img{
    width: 40px;
}


.catagory-child:hover{
    outline: 1px solid violet;
}