@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
</style>


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



/* navbar design start from here */


.nav-container{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.212); 
}

.nav-main{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    max-width: 1150px;
    margin: 0 auto;

}

.nav-left{
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    font-family: Work Sans;
    margin-left: 10px;
}

.nav-right{
    margin-right: 10px;
    display: flex;

}

.nav-btn{
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 500;
    /* margin-right: 10px; */

} 


.nav-btn-follow{
    border-radius: 7px;
    background: rgba(11, 2, 35, 0.1);
    padding: 7px 15px;
    margin-right: 0;
}

/* header options start */

.header-container{
    background-image: url(../resources/group\ 14.png);
    background-repeat: no-repeat;
    background-position: -80%;
}

.header-main{
    /* border: 1px solid red; */
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.header-left{
    /* border: 2px solid yellow; */
    width: 50%;
    font-family: Work Sans;
}

.goat{
    font-size: 60px;
    font-weight: 800;
    background-image: linear-gradient(#f948b2, #8758f1);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.301);
}
.goat-overlay{
    position: absolute; 
    top: 11%;
    text-shadow: none;
}
.header-btn1, .header-btn2{
    padding: 15px 20px;
    border-radius: 48px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
    color: white;
}
.header-btn1{
    background-color: #ff42a5;
}
.header-btn2{
    background-color: #4ec5f7;
    
}
.icon{
    color: #ff42a5;
}

.header-right{
    /* border: 1px solid green; */
    width: 50%;
}

.header-right img{
    width: 100%;
}

.gamer-container{
    background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
}

.gamer-main{
    /* border: 1px solid red; */
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    text-align: right;
}

.gamer-left{
    /* border: 2px solid yellow; */
    width: 60%;
}

.gamer-left img{
    width: 100%;
}

.gamer-right{
    /* border: 1px solid green; */
    width: 40%;
    font-family: Work Sans;
}

.game{
    font-size: 50px;
    font-weight: 800;
    background-image: linear-gradient(#f948b2, #8758f1);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.301);
}
.game-overlay{
    position: absolute; 
    top: -9.9%;
    margin-left: 121px;
    text-shadow: none;
}

.purpose{
    font-size: 18px;
}

.Unleash{
    font-size: 25px;
}